* html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif !important;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
h3 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: 1em;
}
p {
  font-size: 0.7em;
  line-height: 1.4;
  margin-bottom: 0;
}
.btn-primary {
  background-color: #a491d2;
  color: white;
  border: none;
  border-radius: 0.2em;
  font-size: 0.8em;
  padding: 1em 2.5em;
}
.btn-primary:hover {
  background-color: #cdc3e6;
}
.btn-primary:focus {
  background-color: #bec1bb;
}
.main {
  display: flex;
}
.sidebar {
  width: 20%;
}
.content {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f8f8f8;
  min-height: 100vh;
  padding: 2em;
}
.container img {
  width: 45%;
  border-radius: 1em;
}
.container p {
  font-size: 1em;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 50%;
}
.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
}
.perfil-contacto {
  display: flex;
  justify-content: space-evenly;
  border-top: 0.1em solid #eeeeee;
  padding: 1em 1.5em;
  gap: 0.8em;
}
.perfil-contacto:hover {
  background-color: #f8f8f8;
}
.perfil-img img {
  border-radius: 100px;
  height: 50px;
  width: 50px;
}
.perfil-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
}
.perfil-contacto-sm {
  display: flex;
  justify-content: space-evenly;
  gap: 0.8em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1em solid #eeeeee;
  padding: 1em 0.8em;
}
.nav-icons {
  display: flex;
  gap: 0.7em;
}
.svg-icons {
  color: #a491d2;
}
.svg-icons:hover {
  color: #cdc3e6;
}
.perfil-img-sm img {
  border-radius: 100px;
  height: 35px;
  width: 35px;
}
.perfil-info-sm {
  width: 75%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
}

.perfil-info-sm h3 {
  font-size: 0.8em;
  margin-bottom: 0.2em !important;
}
.perfil-info-sm p {
  font-size: 0.6em;
  margin-bottom: 0 !important;
}
